@import 'base.less';


#main{
  width: 100%;
  .menu{
    padding: 20px 0;
    width: 100%;
    background-color: #fff;
    >div{
      >a{
        display: block;
        width: 100%;
        padding: 0 10px;
        text-align: center;
        font-size: 13px;
        margin-bottom: 10px;
        >img{
          width: 50px;
          margin-bottom: 3px;
        }
      }
    }
  }
}